<div class="hero-unit">
	<h1>Wikiclone</h1>
	<p>Social, markdown wikis</p>
	<p><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>

</div>
<div class="row">
	<div class="span6">
		<p class="text-center">Create as many public wikis as you want!</p>
		<p class="text-center"><%= link_to "Free Plan", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
	</div>
	<div class="span6">
		<p class="text-center">Create public wikis!</p>
		<p class="text-center"><%= link_to "Premium Plan", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
	</div>
</div>