<h1><%= @wiki.title %></h1>

<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true) %>
<p><%= raw markdown.render(@wiki.body).html_safe %></p>
<p><%= link_to "Edit Me", edit_wiki_path %></p>

<% if can? :manage, @collaborators %>
	<h3>Collaborators</h3>
	<%= render "collaborators/form", wiki: @wiki, collaborator: @collaborator %>
<% end %>



